<%- include('partials/header.ejs') %>
  <div class="container mt-5">
    <h1 class="mb-4">Discover the Magic of Books</h1>

    <p>Welcome to our book page, where the enchanting world of literature awaits you. Books have long been cherished as
      gateways to new realms, offering boundless opportunities for exploration, growth, and imagination.</p>

    <h2 class="mt-5">Journey Through Pages</h2>
    <p>Embark on a journey through the pages of our carefully curated collection. From timeless classics to contemporary
      masterpieces, each book holds the power to transport you to distant lands, ignite your curiosity, and stir your
      emotions.</p>

    <h2 class="mt-5">A World of Possibilities</h2>
    <p>Books are more than just ink on paper; they are portals to uncharted territories and windows into the human
      experience. Lose yourself in gripping narratives, delve into thought-provoking ideas, and unravel the mysteries of
      life through the eyes of diverse characters and perspectives.</p>

    <h2 class="mt-5">Expand Your Horizons</h2>
    <p>Expand your horizons and broaden your understanding of the world with every turn of the page. Whether you seek
      knowledge, inspiration, or simply a moment of escape, our library offers something for every reader, young and
      old.
    </p>

    <h2 class="mt-5">Join the Adventure</h2>
    <p>Join us on an adventure of the mind and soul as we celebrate the transformative power of books. Let each story
      captivate your imagination, ignite your passions, and leave an indelible mark on your heart.</p>

    <h2 class="mt-5">Start Your Journey Today</h2>
    <p>Begin your literary journey today and immerse yourself in the magic of books. With each book you read, you embark
      on a new adventure, discover new perspectives, and unlock the infinite possibilities that lie within the pages.
    </p>

    <a href="/" class="btn btn-primary mt-5">Explore Our Collection</a>
  </div>
  <%- include('partials/footer.ejs') %>