<!-- edit-form.ejs -->
<form action="/update/<%= item.id %>" method="POST">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" value="<%= item.name %>">
  <label for="description">Description:</label>
  <textarea id="description" name="description"><%= item.description %></textarea>
  <button type="submit">Save</button>
</form>