<!-- index.ejs -->

<%- include('partials/header.ejs') %>
  <ul>
    <% posts.forEach(post=> { %>
      <li>
        <a href="/blog/<%= post.id %>">
          <%= post.title %>
        </a>
      </li>
      <% }); %>
  </ul>
  <%- include('partials/footer.ejs') %>