.container.mt-5 {
  min-height: 38rem; /* Adjust the value as needed */
}
.card {
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card-header {
  background-color: #f8f9fa;
  border-bottom: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px 20px;
  font-weight: bold;
}
.card-body {
  padding: 20px;
}
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
.site-footer {
  bottom: 0;
  width: 100%;
  background-color: #EBF400;
  padding: 20px 0; /* Adjust the padding as needed */
  text-align: center;
}

.site-footer p {
  font-size: 14px; /* Adjust font size */
  color: #6c757d; /* Text color */
}
